.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.navbar:global(.__wab_instance) {
  position: relative;
}
.freeBox___6Psif {
  flex-direction: column;
  display: flex;
  position: relative;
  background: linear-gradient(0deg, #5856d61a 0%, #ffffff 100%);
  padding: 64px;
}
.freeBox___6Psif > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox___6Psif > :global(.__wab_flex-container) > *,
.freeBox___6Psif > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___6Psif > :global(.__wab_flex-container) > picture > img,
.freeBox___6Psif
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___6Psif {
    padding-right: 32px;
    padding-left: 32px;
  }
}
.foreground {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 1080px;
}
.foreground > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.foreground > :global(.__wab_flex-container) > *,
.foreground > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground > :global(.__wab_flex-container) > picture > img,
.foreground
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__oOsF {
  height: auto;
  font-size: 48px;
  font-weight: 800;
  color: #000000d9;
  line-height: 1;
}
.text___6Yv7H {
  font-size: 20px;
  color: #05050599;
  line-height: 28px;
  text-align: center;
}
.foreground2 {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 960px;
}
.foreground2 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.foreground2 > :global(.__wab_flex-container) > *,
.foreground2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground2 > :global(.__wab_flex-container) > picture > img,
.foreground2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.valueProp__gGquP:global(.__wab_instance) {
  position: relative;
}
.img__niOu {
  position: relative;
  object-fit: cover;
  width: 56px;
  height: 56px;
}
.img__niOu > picture > img {
  object-fit: cover;
}
.img__niOu > .__wab_img-spacer > img {
  object-fit: cover;
}
.valueProp__rcBMl:global(.__wab_instance) {
  position: relative;
}
.img__aIyp5 {
  position: relative;
  object-fit: cover;
  width: 56px;
  height: 56px;
}
.img__aIyp5 > picture > img {
  object-fit: cover;
}
.img__aIyp5 > .__wab_img-spacer > img {
  object-fit: cover;
}
.valueProp__g4Jn:global(.__wab_instance) {
  position: relative;
}
.img__qtNq {
  position: relative;
  object-fit: cover;
  width: 56px;
  height: 56px;
}
.img__qtNq > picture > img {
  object-fit: cover;
}
.img__qtNq > .__wab_img-spacer > img {
  object-fit: cover;
}
.valueProp__aMcEf:global(.__wab_instance) {
  position: relative;
}
.img__yLn4S {
  position: relative;
  object-fit: cover;
  width: 56px;
  height: 56px;
}
.img__yLn4S > picture > img {
  object-fit: cover;
}
.img__yLn4S > .__wab_img-spacer > img {
  object-fit: cover;
}
.section {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: unset;
  background: var(--token-01C5rLvGnVd8Ms);
  padding: 64px 32px;
}
.foreground3 {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 960px;
  width: 100%;
  min-width: 0;
}
.foreground3 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.foreground3 > :global(.__wab_flex-container) > *,
.foreground3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground3 > :global(.__wab_flex-container) > picture > img,
.foreground3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.freeBox__xVAvt {
  flex-direction: column;
  display: flex;
}
.freeBox__xVAvt > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__xVAvt > :global(.__wab_flex-container) > *,
.freeBox__xVAvt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xVAvt > :global(.__wab_flex-container) > picture > img,
.freeBox__xVAvt
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__bkGkI {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.h2 {
  height: auto;
  color: #ffffff;
  font-size: 48px;
  font-weight: 800;
  line-height: 1;
}
.text__rFlDz {
  font-size: 20px;
  color: #ffffff80;
  line-height: 28px;
  height: auto;
}
.freeBox__oXi6A {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 960px;
}
.freeBox__oXi6A > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__oXi6A > :global(.__wab_flex-container) > *,
.freeBox__oXi6A > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__oXi6A > :global(.__wab_flex-container) > picture > img,
.freeBox__oXi6A
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.columns {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
}
.columns > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
}
.columns > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns > :global(.__wab_flex-container) > *,
.columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns > :global(.__wab_flex-container) > picture > img,
.columns
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 48px);
    height: calc(100% + 48px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 48px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > *,
  .columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns > :global(.__wab_flex-container) > picture > img,
  .columns
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 48px;
  }
}
.column__sdcd0 {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__d7DS:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__qhEcC {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-hgySqd1QgGLTTV);
  width: 28px;
  height: 28px;
}
.text__fjAw {
  padding-left: 0px;
}
.column__n0V9C {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp___9I1Th:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__sOFG {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-hgySqd1QgGLTTV);
  width: 28px;
  height: 28px;
}
.text__z2Cv8 {
  padding-left: 0px;
}
.column__qoOjI {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__xHBtn:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__mTuol {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-hgySqd1QgGLTTV);
  width: 28px;
  height: 28px;
}
.text___7V4Mm {
  padding-left: 0px;
}
.column__iXLa8 {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__xbTz:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg___6G0T {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-hgySqd1QgGLTTV);
  width: 28px;
  height: 28px;
}
.text__lWRak {
  padding-left: 0px;
}
.freeBox__kcWO {
  flex-direction: column;
  display: flex;
  position: relative;
  background: linear-gradient(0deg, #ffffff 0%, #5856d61a 100%);
  padding: 64px;
}
.freeBox__kcWO > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__kcWO > :global(.__wab_flex-container) > *,
.freeBox__kcWO > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kcWO > :global(.__wab_flex-container) > picture > img,
.freeBox__kcWO
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kcWO {
    padding-top: 128px;
    padding-right: 32px;
    padding-left: 32px;
  }
}
.freeBox__tCh2S {
  flex-direction: column;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  max-width: 1080px;
}
.freeBox__tCh2S > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__tCh2S > :global(.__wab_flex-container) > *,
.freeBox__tCh2S > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tCh2S > :global(.__wab_flex-container) > picture > img,
.freeBox__tCh2S
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.freeBox__zk8Nr {
  flex-direction: column;
  display: flex;
}
.freeBox__zk8Nr > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__zk8Nr > :global(.__wab_flex-container) > *,
.freeBox__zk8Nr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zk8Nr > :global(.__wab_flex-container) > picture > img,
.freeBox__zk8Nr
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox___6Xx6S {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.text__xNoPp {
  font-size: 48px;
  font-weight: 800;
  color: #000000d9;
  line-height: 1;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__xNoPp {
    text-align: center;
  }
}
.text__wHqbq {
  font-size: 20px;
  color: #05050599;
  text-align: center;
  line-height: 28px;
  height: auto;
}
.freeBox__o1Z2H {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__o1Z2H > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__o1Z2H > :global(.__wab_flex-container) > *,
.freeBox__o1Z2H > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__o1Z2H > :global(.__wab_flex-container) > picture > img,
.freeBox__o1Z2H
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__o1Z2H {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__o1Z2H > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__o1Z2H > :global(.__wab_flex-container) > *,
  .freeBox__o1Z2H > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__o1Z2H > :global(.__wab_flex-container) > picture > img,
  .freeBox__o1Z2H
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.priceCard__krk3C:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.valueProp__exB4T:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__teC9Z {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__bejX:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__gGxnK {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__v8G0G {
  height: auto;
}
.priceCard__walD:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__cpznc {
  color: var(--token-7lB3p3dvUmX6sc);
}
.valueProp__uy8AP:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__o6DVm {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__kkPa8:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__m9KN2 {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__ivj0E:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__myczM {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text___5UUy0 {
  height: auto;
}
.priceCard__wmcIw:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text___3IZnK {
  color: var(--token-uDCRCh91M2qW8D);
}
.valueProp__rOtcL:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__idoE {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__a7Kvl:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__szRla {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__uAoRw:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__odOyt {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__yx9Lz:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__rCzoa {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__yXihO {
  height: auto;
}
.priceCard__eQaPb:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__aagMy {
  color: var(--token-MxjHwrrDJnNrsj);
}
.valueProp___4RVfh:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___9Kg7Q {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__t8Bl5:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__uy4JS {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__yyUz:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__v4S2O {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__g75Rw:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__bDz9Y {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__gb3G {
  height: auto;
}
.footerSection:global(.__wab_instance) {
  position: relative;
}
