.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 64px;
}
.freeBox__k1Kdl {
  flex-direction: row;
  display: flex;
  position: relative;
  max-width: 960px;
  width: 100%;
  min-width: 0;
}
.freeBox__k1Kdl > :global(.__wab_flex-container) {
  flex-direction: row;
  min-width: 0;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
}
.freeBox__k1Kdl > :global(.__wab_flex-container) > *,
.freeBox__k1Kdl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__k1Kdl > :global(.__wab_flex-container) > picture > img,
.freeBox__k1Kdl
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__k1Kdl {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__k1Kdl > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__k1Kdl > :global(.__wab_flex-container) > *,
  .freeBox__k1Kdl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__k1Kdl > :global(.__wab_flex-container) > picture > img,
  .freeBox__k1Kdl
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 64px;
  }
}
.freeBox__wpLgg {
  flex-direction: column;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  width: 100%;
  min-width: 0;
}
.freeBox__wpLgg > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__wpLgg > :global(.__wab_flex-container) > *,
.freeBox__wpLgg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wpLgg > :global(.__wab_flex-container) > picture > img,
.freeBox__wpLgg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__ghMsh {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__ghMsh > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__ghMsh > :global(.__wab_flex-container) > *,
.freeBox__ghMsh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ghMsh > :global(.__wab_flex-container) > picture > img,
.freeBox__ghMsh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__wIo2W {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__wIo2W > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__wIo2W > :global(.__wab_flex-container) > *,
.freeBox__wIo2W > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wIo2W > :global(.__wab_flex-container) > picture > img,
.freeBox__wIo2W
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.svg__mQD1 {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: var(--token-dvKbI5UU1dKwa6);
  flex-shrink: 0;
}
.svg__l69U {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: var(--token-dvKbI5UU1dKwa6);
  flex-shrink: 0;
}
.svg__ppW9Z {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: var(--token-dvKbI5UU1dKwa6);
  flex-shrink: 0;
}
.freeBox__tdJlB {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
}
.freeBox__tdJlB > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__tdJlB > :global(.__wab_flex-container) > *,
.freeBox__tdJlB > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tdJlB > :global(.__wab_flex-container) > picture > img,
.freeBox__tdJlB
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__eVIc {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  position: relative;
  left: auto;
  top: auto;
  color: var(--token-dvKbI5UU1dKwa6);
  height: auto;
}
.button__olwSs:global(.__wab_instance) {
  position: relative;
}
.svg__bOpfu {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text___2AkUj {
  height: auto;
}
.svg__eqFa9 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__rHroo:global(.__wab_instance) {
  position: relative;
}
.svg___7NvFo {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__nvjDd {
  height: auto;
}
.svg__zIcVj {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__xs5N7:global(.__wab_instance) {
  position: relative;
}
.svg__pbIHs {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__kLd9 {
  height: auto;
}
.svg__odGnC {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button___6UTfq:global(.__wab_instance) {
  position: relative;
}
.svg__tqVl5 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__hwJy0 {
  height: auto;
}
.svg__a4EbI {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox__rcfVx {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
}
.freeBox__rcfVx > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__rcfVx > :global(.__wab_flex-container) > *,
.freeBox__rcfVx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rcfVx > :global(.__wab_flex-container) > picture > img,
.freeBox__rcfVx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__mjB9L {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  position: relative;
  left: auto;
  top: auto;
  color: var(--token-dvKbI5UU1dKwa6);
  height: auto;
}
.button__yc52A:global(.__wab_instance) {
  position: relative;
}
.svg__vfPrb {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__kvxJ9 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__rYahK:global(.__wab_instance) {
  position: relative;
}
.svg__no2X {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__voTjW {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__mAUgW:global(.__wab_instance) {
  position: relative;
}
.svg__vkAf6 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__qHXom {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox__lbZp3 {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
}
.freeBox__lbZp3 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__lbZp3 > :global(.__wab_flex-container) > *,
.freeBox__lbZp3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lbZp3 > :global(.__wab_flex-container) > picture > img,
.freeBox__lbZp3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__cUj11 {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  position: relative;
  left: auto;
  top: auto;
  color: var(--token-dvKbI5UU1dKwa6);
  height: auto;
}
.button__xhaA:global(.__wab_instance) {
  position: relative;
}
.svg__tl6S0 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__revpY {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__ksZzc:global(.__wab_instance) {
  position: relative;
}
.svg__vszwc {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__zdpme {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__vPhxt:global(.__wab_instance) {
  position: relative;
}
.svg__za1Zq {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__b8Sq6 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__qtReR:global(.__wab_instance) {
  position: relative;
}
.svg__izXjn {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__q9HB9 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
