.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
}
.headerHeroSection {
  flex-direction: column;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  right: auto;
  z-index: auto;
  background: linear-gradient(#ffffff80, #ffffff80),
    url("./images/wavey.png") top 50% left 50% / cover repeat;
  padding: 0px 32px 64px;
}
.headerHeroSection > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.headerHeroSection > :global(.__wab_flex-container) > *,
.headerHeroSection > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.headerHeroSection > :global(.__wab_flex-container) > picture > img,
.headerHeroSection
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.columns__koPt {
  flex-direction: row;
  display: flex;
  position: relative;
  max-width: var(--token-yVs_UDBARQOfGJ);
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
}
.columns__koPt > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
}
.columns__koPt > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 64px) * 6 / 12);
}
.columns__koPt > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 64px) * 6 / 12);
}
.columns__koPt > :global(.__wab_flex-container) > *,
.columns__koPt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__koPt > :global(.__wab_flex-container) > picture > img,
.columns__koPt
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__koPt {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__koPt > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__koPt > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 64px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__koPt > :global(.__wab_flex-container) > *,
  .columns__koPt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__koPt > :global(.__wab_flex-container) > picture > img,
  .columns__koPt
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 64px;
  }
}
.column__gagut {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__q4OiG {
  flex-direction: column;
  display: flex;
  width: 100%;
  min-width: 0;
}
.freeBox__q4OiG > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__q4OiG > :global(.__wab_flex-container) > *,
.freeBox__q4OiG > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__q4OiG > :global(.__wab_flex-container) > picture > img,
.freeBox__q4OiG
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__bJfno {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__bJfno > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__bJfno > :global(.__wab_flex-container) > *,
.freeBox__bJfno > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bJfno > :global(.__wab_flex-container) > picture > img,
.freeBox__bJfno
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__x1VIs {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  height: auto;
}
.text__ofaIs {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--token-dvKbI5UU1dKwa6);
  background: #ffffff;
  padding: 4px 8px;
}
.text___4KQe {
  font-size: 60px;
  font-weight: 800;
  line-height: 1;
  color: var(--token-6T2jc2yfoALl5m);
}
.text__pTqbx {
  font-size: 20px;
  color: var(--token-dvKbI5UU1dKwa6);
  line-height: 28px;
}
.freeBox__zwbhd {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__zwbhd > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__zwbhd > :global(.__wab_flex-container) > *,
.freeBox__zwbhd > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zwbhd > :global(.__wab_flex-container) > picture > img,
.freeBox__zwbhd
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.button__grJBa:global(.__wab_instance) {
  position: relative;
}
.svg__gm7Av {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__te7F {
  height: auto;
}
.svg__qciHs {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__nMbjs:global(.__wab_instance) {
  position: relative;
}
.svg__bjfB {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__uC74 {
  height: auto;
  font-weight: 400;
}
.svg__aybGp {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.column__o88Qt {
  display: flex;
  position: relative;
  flex-direction: column;
}
.signUpPrompt:global(.__wab_instance) {
  position: relative;
  width: auto;
}
.valuePropsSection:global(.__wab_instance) {
  position: relative;
}
.freeBox__aVdC8 {
  flex-direction: column;
  max-width: var(--token-yVs_UDBARQOfGJ);
  display: flex;
  height: auto;
}
.freeBox__aVdC8 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__aVdC8 > :global(.__wab_flex-container) > *,
.freeBox__aVdC8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__aVdC8 > :global(.__wab_flex-container) > picture > img,
.freeBox__aVdC8
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__hpE5S {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.h2__v1Re {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-6T2jc2yfoALl5m);
  line-height: 1;
}
.text___4F81M {
  font-size: 20px;
  color: var(--token-dvKbI5UU1dKwa6);
  text-align: left;
  line-height: 28px;
}
.freeBox__i1O3J {
  flex-direction: column;
  max-width: var(--token-yVs_UDBARQOfGJ);
  display: flex;
  position: relative;
  margin-top: 64px;
}
.freeBox__i1O3J > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__i1O3J > :global(.__wab_flex-container) > *,
.freeBox__i1O3J > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__i1O3J > :global(.__wab_flex-container) > picture > img,
.freeBox__i1O3J
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__i1O3J {
    max-width: var(--token-yVs_UDBARQOfGJ);
    display: flex;
    position: relative;
    flex-direction: column;
    margin-top: 64px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__i1O3J > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__i1O3J > :global(.__wab_flex-container) > *,
  .freeBox__i1O3J > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__i1O3J > :global(.__wab_flex-container) > picture > img,
  .freeBox__i1O3J
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 24px;
  }
}
.freeBox__pmxbR {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__pmxbR > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
}
.freeBox__pmxbR > :global(.__wab_flex-container) > *,
.freeBox__pmxbR > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pmxbR > :global(.__wab_flex-container) > picture > img,
.freeBox__pmxbR
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pmxbR {
    display: flex;
    flex-direction: column;
    position: relative;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pmxbR > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 48px);
    width: calc(100% + 48px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pmxbR > :global(.__wab_flex-container) > *,
  .freeBox__pmxbR > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__pmxbR > :global(.__wab_flex-container) > picture > img,
  .freeBox__pmxbR
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 48px;
    margin-top: 24px;
  }
}
.valueProp__gJf05:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__hfvxt {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.valueProp__v6Y2:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__eX6Ne {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.valueProp___7Ndqy:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__nxky7 {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.valueProp___18Qqt:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___8SePc {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.text___1940M {
  height: auto;
}
.freeBox__edOhx {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__edOhx > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
}
.freeBox__edOhx > :global(.__wab_flex-container) > *,
.freeBox__edOhx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__edOhx > :global(.__wab_flex-container) > picture > img,
.freeBox__edOhx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__edOhx {
    display: flex;
    flex-direction: column;
    position: relative;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__edOhx > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 48px);
    width: calc(100% + 48px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__edOhx > :global(.__wab_flex-container) > *,
  .freeBox__edOhx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__edOhx > :global(.__wab_flex-container) > picture > img,
  .freeBox__edOhx
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 48px;
    margin-top: 24px;
  }
}
.valueProp__g836:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__bpfvv {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.text__i2Nxt {
  height: auto;
}
.valueProp__azUp:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__te7H1 {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.valueProp__lQ25Z:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__vDqs {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.valueProp__y3Jr6:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__pWowN {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.checkpointsSection:global(.__wab_instance) {
  position: relative;
}
.columns__pet33 {
  flex-direction: row;
  max-width: var(--token-yVs_UDBARQOfGJ);
  display: flex;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
}
.columns__pet33 > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
}
.columns__pet33 > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 64px) * 6 / 12);
}
.columns__pet33 > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 64px) * 6 / 12);
}
.columns__pet33 > :global(.__wab_flex-container) > *,
.columns__pet33 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__pet33 > :global(.__wab_flex-container) > picture > img,
.columns__pet33
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__pet33 {
    max-width: var(--token-yVs_UDBARQOfGJ);
    width: 100%;
    height: auto;
    flex-direction: row;
    display: flex;
    flex-shrink: 1;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__pet33 > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: flex-start;
    min-width: 0;
    margin-left: calc(0px - 64px);
    width: calc(100% + 64px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__pet33 > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 64px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__pet33 > :global(.__wab_flex-container) > *,
  .columns__pet33 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__pet33 > :global(.__wab_flex-container) > picture > img,
  .columns__pet33
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 64px;
    margin-top: 64px;
  }
}
.column__ktOpp {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__uniZu {
  flex-direction: column;
  display: flex;
  width: 100%;
  min-width: 0;
}
.freeBox__uniZu > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__uniZu > :global(.__wab_flex-container) > *,
.freeBox__uniZu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__uniZu > :global(.__wab_flex-container) > picture > img,
.freeBox__uniZu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__xtN9V {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
  color: var(--token-t3uE8iTyfDxqH-);
}
.h2__fvJdm {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-je_CAaKU4weJ5R);
  line-height: 1;
}
.text__go5U6 {
  font-size: 20px;
  color: var(--token-sEL6LOF6JaKNfR);
  line-height: 28px;
  height: auto;
}
.button__eIVfn:global(.__wab_instance) {
  position: relative;
}
.svg___48Pxy {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__yy44S {
  color: var(--token-UAx2ae5njeLgC0);
}
.svg__ce7Ew {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: var(--token-UAx2ae5njeLgC0);
}
.column__vf5Cf {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__uNyJv {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
  min-width: 0;
}
.listItem__kmOuw:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .listItem__kmOuw:global(.__wab_instance) {
    position: relative;
    width: 100%;
    min-width: 0;
  }
}
.text__wwq0B {
  color: var(--token-je_CAaKU4weJ5R);
}
.svg__lxiOb {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: var(--token-t3uE8iTyfDxqH-);
}
.listItem__kuXco:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__hV2Jj {
  color: var(--token-je_CAaKU4weJ5R);
}
.svg__eYxI {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: var(--token-t3uE8iTyfDxqH-);
}
.listItem__pUuBp:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text___0AEht {
  height: auto;
  color: var(--token-je_CAaKU4weJ5R);
}
.svg__wmjRi {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: var(--token-t3uE8iTyfDxqH-);
}
.listItem___118Md:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__v4Lb {
  height: auto;
  color: var(--token-je_CAaKU4weJ5R);
}
.svg__to8Fk {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: var(--token-t3uE8iTyfDxqH-);
}
.listItem__gmd1M:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__jq2J {
  height: auto;
  color: var(--token-je_CAaKU4weJ5R);
}
.svg__zLf96 {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: var(--token-t3uE8iTyfDxqH-);
}
.pricingSection:global(.__wab_instance) {
  position: relative;
}
.freeBox__cudlU {
  flex-direction: column;
  max-width: var(--token-yVs_UDBARQOfGJ);
  display: flex;
  position: relative;
  top: auto;
  left: auto;
}
.freeBox__cudlU > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__cudlU > :global(.__wab_flex-container) > *,
.freeBox__cudlU > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__cudlU > :global(.__wab_flex-container) > picture > img,
.freeBox__cudlU
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__cudlU {
    max-width: var(--token-yVs_UDBARQOfGJ);
    display: flex;
    position: relative;
    flex-direction: column;
    top: auto;
    left: auto;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__cudlU > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__cudlU > :global(.__wab_flex-container) > *,
  .freeBox__cudlU > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__cudlU > :global(.__wab_flex-container) > picture > img,
  .freeBox__cudlU
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 64px;
  }
}
.freeBox__fWo2 {
  flex-direction: column;
  display: flex;
}
.freeBox__fWo2 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__fWo2 > :global(.__wab_flex-container) > *,
.freeBox__fWo2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fWo2 > :global(.__wab_flex-container) > picture > img,
.freeBox__fWo2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__j899U {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.text__b4LUo {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-je_CAaKU4weJ5R);
  line-height: 1;
}
.text__aZb70 {
  font-size: 20px;
  color: var(--token-sEL6LOF6JaKNfR);
  text-align: center;
  line-height: 28px;
  height: auto;
}
.columns__c4Jam {
  flex-direction: row;
  display: flex;
  position: relative;
  max-width: 1920px;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  padding: 8px;
}
.columns__c4Jam > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  min-width: 0;
}
.columns__c4Jam > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns__c4Jam > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns__c4Jam > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__c4Jam {
    display: flex;
    flex-direction: row;
    position: relative;
    max-width: 1920px;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__c4Jam > :global(.__wab_flex-container) {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__c4Jam > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__c4Jam > :global(.__wab_flex-container) > *,
  .columns__c4Jam > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__c4Jam > :global(.__wab_flex-container) > picture > img,
  .columns__c4Jam
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 64px;
  }
}
.column__pDzY {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.priceCard__mTsW:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .priceCard__mTsW:global(.__wab_instance) {
    position: relative;
    width: 100%;
    min-width: 0;
  }
}
.valueProp__vup69:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__p6Fk5 {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp___20IJ:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__rj4Gz {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__ra1Rw {
  height: auto;
}
.column__rL6Nw {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.priceCard__lApLl:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.valueProp__yvqMd:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__gbpRi {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp___65ZH:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__frBsI {
  height: auto;
}
.svg__m04Br {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__mnSpf:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__ilOqH {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__sEnZn:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__ywMr {
  height: auto;
}
.svg__badeY {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__xUa3W {
  height: auto;
}
.column__ijmIb {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.priceCard__gHdy5:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .priceCard__gHdy5:global(.__wab_instance) {
    position: relative;
    width: 100%;
    min-width: 0;
  }
}
.valueProp__bcGjG:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__udSBu {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__t80Kz:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__riTpS {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text___1Dsyo {
  height: auto;
}
.shopBannersSection:global(.__wab_instance) {
  position: relative;
}
.freeBox___412Zz {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox___412Zz > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox___412Zz > :global(.__wab_flex-container) > *,
.freeBox___412Zz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___412Zz > :global(.__wab_flex-container) > picture > img,
.freeBox___412Zz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___412Zz {
    position: relative;
  }
}
.text___3Cy5Z {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
}
.text__s8SRz {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-6T2jc2yfoALl5m);
  line-height: 1;
  height: auto;
}
.svg__vpC7C {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__xbKDl {
  height: auto;
  width: auto;
}
.svg__ewj0G {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox___49A {
  flex-direction: row;
  display: flex;
  position: relative;
  max-width: 1920px;
  width: 100%;
  min-width: 0;
}
.freeBox___49A > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox___49A > :global(.__wab_flex-container) > *,
.freeBox___49A > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___49A > :global(.__wab_flex-container) > picture > img,
.freeBox___49A
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___49A {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 1920px;
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___49A > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___49A > :global(.__wab_flex-container) > *,
  .freeBox___49A > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___49A > :global(.__wab_flex-container) > picture > img,
  .freeBox___49A
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.text__cJpxt {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
}
.text__nlIEr {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-6T2jc2yfoALl5m);
  line-height: 1;
  height: auto;
}
.svg__ao8M8 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__fh3Gb {
  height: auto;
  width: auto;
}
.svg__qfUVc {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.banner__hgkq7:global(.__wab_instance) {
  position: relative;
}
.text__qa3Fr {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
}
.text__da8MN {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-6T2jc2yfoALl5m);
  line-height: 1;
  height: auto;
}
.svg__crzUe {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text___5GYm {
  height: auto;
  width: auto;
}
.svg___7JKSh {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.logoCloudSection:global(.__wab_instance) {
  position: relative;
}
.freeBox__yWdvA {
  flex-direction: row;
  max-width: var(--token-yVs_UDBARQOfGJ);
  display: flex;
  position: relative;
  left: auto;
  top: auto;
}
.freeBox__yWdvA > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__yWdvA > :global(.__wab_flex-container) > *,
.freeBox__yWdvA > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yWdvA > :global(.__wab_flex-container) > picture > img,
.freeBox__yWdvA
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
  margin-top: 64px;
}
.img__ei3W6 {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__ei3W6 > picture > img {
  object-fit: cover;
}
.img__ei3W6 > .__wab_img-spacer > img {
  object-fit: cover;
}
.img___7Z6Xk {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img___7Z6Xk > picture > img {
  object-fit: cover;
}
.img___7Z6Xk > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__x0Fv5 {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__x0Fv5 > picture > img {
  object-fit: cover;
}
.img__x0Fv5 > .__wab_img-spacer > img {
  object-fit: cover;
}
.img___7FxXd {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img___7FxXd > picture > img {
  object-fit: cover;
}
.img___7FxXd > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__tIo9I {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__tIo9I > picture > img {
  object-fit: cover;
}
.img__tIo9I > .__wab_img-spacer > img {
  object-fit: cover;
}
.testimonialsSection:global(.__wab_instance) {
  position: relative;
}
.columns__mQwOk {
  flex-direction: row;
  max-width: var(--token-yVs_UDBARQOfGJ);
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  padding: 8px;
}
.columns__mQwOk > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.columns__mQwOk > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * 32px) * 4 / 12);
}
.columns__mQwOk > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * 32px) * 4 / 12);
}
.columns__mQwOk > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * 32px) * 4 / 12);
}
.columns__mQwOk > :global(.__wab_flex-container) > *,
.columns__mQwOk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__mQwOk > :global(.__wab_flex-container) > picture > img,
.columns__mQwOk
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__mQwOk {
    max-width: var(--token-yVs_UDBARQOfGJ);
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__mQwOk > :global(.__wab_flex-container) {
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    min-width: 0;
    margin-left: calc(0px - 32px);
    width: calc(100% + 32px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__mQwOk > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 32px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__mQwOk > :global(.__wab_flex-container) > *,
  .columns__mQwOk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__mQwOk > :global(.__wab_flex-container) > picture > img,
  .columns__mQwOk
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 32px;
    margin-top: 32px;
  }
}
.column___6PfDb {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.testimonial___9TixX:global(.__wab_instance) {
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.column__nizyv {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.testimonial__z8C:global(.__wab_instance) {
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.column__tkGQi {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.testimonial__imdIs:global(.__wab_instance) {
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__miaWv {
  height: auto;
}
.callToActionSection:global(.__wab_instance) {
  position: relative;
}
.freeBox__h3P {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__h3P > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__h3P > :global(.__wab_flex-container) > *,
.freeBox__h3P > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__h3P > :global(.__wab_flex-container) > picture > img,
.freeBox__h3P
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__paoOz {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
  color: var(--token-je_CAaKU4weJ5R);
}
.text__x8Vz4 {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-je_CAaKU4weJ5R);
  line-height: 1;
}
.text__dCAa2 {
  font-size: 20px;
  color: var(--token-sEL6LOF6JaKNfR);
  line-height: 28px;
}
.freeBox__fZxPv {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__fZxPv > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__fZxPv > :global(.__wab_flex-container) > *,
.freeBox__fZxPv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fZxPv > :global(.__wab_flex-container) > picture > img,
.freeBox__fZxPv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.button__jE2Ey:global(.__wab_instance) {
  position: relative;
}
.svg__s39Up {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__zMVtZ {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__bbvwu:global(.__wab_instance) {
  position: relative;
}
.svg__nm5Fb {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__gFeN7 {
  height: auto;
  font-weight: 400;
}
.svg__qCsGo {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.footerSection:global(.__wab_instance) {
  position: relative;
}
